


 @each $color in #00b7d4,#505488,#2f3f80,#161569,#5a4894,#a950a1,#ff7cae {
    .contenido {
        background-image: -webkit-linear-gradient(150deg,$color);
    }
}
    
    .contenido {
    position: absolute;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      
      /*gradiente animado*/ 
      background-image: -webkit-linear-gradient(150deg,#00b7d4,#505488,#2f3f80,#161569,#5a4894,#a950a1,#ff7cae);
      background-size: 500%;
      animation : fondo 7s infinite;
      
    }
    
   
    .contenido:fullscreen {
      height: 100%;
     }
    
    @keyframes fondo {
      0% {
          background-position: 0%, 50%;
      }
      50% {
          background-position: 100%, 50%;
      }
      100% {
          background-position: 0%, 50%;
      }
      
    }
    
    @media (max-width:1530px) {
    .contenido {
      height: auto;
    
    }
    
    }