* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  body {
    
    background: $color-fondo;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100%;
  
  }